

h2{
	font-family: arcade;
	text-align: center;
	color: #FFF;
}

h4{
	font-family: arcade;
	text-align: center;
	color: #72B8FF;
}

h6{
	font-family: arcade;
	text-align: center;
	color: #72B8FF;
}


.nopad
{
	padding: .4rem 1.2rem .4rem;	
}

@font-face {
	font-family: arcade;
	src: url("../fonts/arcade.ttf");
}

body {
	background-image: url("../img/Background.jpg");
}


a:hover.link{
	text-decoration: underline;


}

.header {
	background: #000; 
	margin-top: 20px;
	padding: 20px 10px;
	overflow: hidden;
	border-style: solid; 
	border-color: white; 

}

.centerimg{
	display: -webkit-box;
	margin: 10px auto;
}

.headerbutton{
	margin: auto;
	display: inherit;
	margin-top: 7px;
}


.searchbar{
	max-width: 90%;

}

.lupa{
	float: right;
	position: absolute;
	left: 83%;
	top: 0%;
	background: url("../img/lupa.png");
	background-size: cover;
	height: 37px;
	width: 37px;
	border-width: 0px;
}

#clearer{
	clear: both;
}

#footer{
	clear: both;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	border: solid 1px white;
 	background: black;
}

#footer p a{
	color: white;
}

#footer p a:hover{
	color: #CCC;
}

/* css de Diego.... Si esta feo y que*/ 


.content{
	background: #000; 
	margin: 20px 0;
	padding: 20px 10px;
	overflow: hidden; 
	border-style: solid; 
	border-color: white;
}

#cart{
	text-align: center;
	font-family: arcade; 
	font-size: 50px;
	color: white; 
	margin-top: 50px;
	margin-bottom: 100px; 
}

h1{
	font-family: arcade;
	font-size: 60px;
	color:white;
}
p{
	font-family: arcade;
	color: white; 
	font-size: 25px; 
	line-height: 100%;
}


.button{
	color: white; 
	font-family: arcade; 	
	border: 0;
  	border-radius: 4px;
 	box-shadow: 0 5px 0 #006599;
 	cursor: pointer;
 	margin: 0;
 	outline: 0;
 	padding: 8px 14px;
 	transition: all .1s linear;
}

.button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#margin{
	 padding:1px;
   border:2px solid white;
   	width: 200px; 
	height: 150px; 
	margin: 0 0 10px 0;


}
.cont1{
	margin: 5px;
	text-align: center;
}

.centerimg{
border-style: solid; 
border-color: #383838; 
height: 300px; 
width: auto; 
}
.catimg{ 
	height:450px; 
	width:1000px;
}
.consoleimg{
border-style: solid; 
border-color: #383838; 
height: 180px; 
width: 200px; 
}
.accesories{
border-style: solid; 
border-color: #383838; 
height: 180px; 
width: 200px; 

}


#remove{ 
	background-color: red; 
	box-shadow: 0 5px 0 #8A0808; 
	margin: 5px;

}
#remove:active {
  box-shadow: 0 2px 0 #8A0808;
  transform: translateY(3px);
}

#checkout{
	background-color: #515151; 
	box-shadow: 0 5px 0 #383838; 
	margin: 5px;
}

#p2 {
	margin-top: 50px;
}

#checkout{
	margin-top: 50px;
}
#checkout:active {
  box-shadow: 0 2px 0 #383838;
  transform: translateY(3px);
}

select{
	font-family: arcade; 
	font-size: 20px; 
}
#addcart{
	background-color: #515151 ; 
	box-shadow: 0 5px 0 #383838; 
	margin: 5px;
	transition: all .1s linear;
}
#addcart:active{
	 box-shadow: 0 2px 0 #383838;
	transform: translateY(3px);

}

h3{
	font-family: arcade; 
	color: white; 
	font-size: 30px; 
}

#details{
border-style: solid; 
border-color: #383838; 
margin-top: 30px; 

}




/* propiedad de diego no griefing!! */ 

.loginbutt {
	background-color: #74ad5a;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arcade;
	font-size: 1em;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	height: 100%;
	text-align: center;
}
.loginbutt:hover {
	background-color: #68a54b;
}
.loginbutt:active {
	position: relative;
	top: 1px;
}

.registerbutt {
	background-color:#d0451b;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arcade;
	font-size: 1em;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	height: 100%;
	text-align: center;
}
.registerbutt:hover {
	background-color:#bc3315;
}
.registerbutt:active {
	position: relative;
	top: 1px;
}

.content .loginbutt, .content .registerbutt {
	margin: 10px;
	
}

.subcontent{
	background: #000;
	margin: 10px 20px; 
	padding: 20px 10px;
	border-style: solid; 
	border-color: white;
}