@font-face {
	font-family: arcade;
	src: url("../fonts/arcade.ttf");
}

body {
	background-image: url("../img/Background.jpg");
}

.header {
	background: #000; 
	margin-top: 20px;
	padding: 20px 10px;
	overflow: auto;

}

.headerbutton{
	margin: auto;
	display: inherit;
	margin-top: 7px;
}

h2{
	font-family: arcade;
	text-align: center;
	color: #FFF;
}

.searchbar{
	max-width: 90%;

}

.lupa{
	float: right;
	position: absolute;
	left: 83%;
	top: 0%;
	background: url("../img/lupa.png");
	background-size: cover;
	height: 37px;
	width: 37px;
	border-width: 0px;
}
